* {
    font-family: Nunito, sans-serif;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
}
#links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.main{
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}

input{
    width: 900px;
    height: 30px;
    border-radius: 8px;
    padding: 15px;
}


#cityforecast{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-style: solid;
}
#text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
}


#todayforecast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    gap: 15px;
    padding: 10px;
}

#todaycontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    padding: 10px;
    
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


#aircondition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    border-style: solid;
}

#row1,#row2,#row3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.left {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-style: solid;
    align-self: flex-start;
    padding: 15px;
    margin-left: 15px;
    height: 500px;
    
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    margin-right: 15px;
    border-style: solid;
}

#weather{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}